*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/ktlint.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/codeStyleSettings.xml
/*/build/
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/dictionaries
/.idea/detekt.xml
/.idea/gradle.xml
ktlint-plugin.xml
/build-logic/convention/build
deploymentTargetSelector.xml
.idea/deploymentTargetSelector.xml
.idea/migrations.xml
